pandas==1.1.5
yfinance==0.1.63
json5==0.9.5
matplotlib==3.3.4
torch==1.9.0
transformers==4.3.3
Keras==2.4.3
Keras-Applications==1.0.8
keras-bert==0.86.0
keras-embed-sim==0.8.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-nightly==2.5.0.dev2021032900
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.46.0
keras-transformer==0.38.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
sentencepiece==0.1.96
google-cloud-storage==1.41.0
pytorch-transformers==1.2.0
google-cloud-bigquery==2.21.0

